body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#svg-layout {
    width: 90%;
    height: auto;
}

.computer {
    fill: lightgreen;
    cursor: pointer;
    transition: fill 0.3s ease;
}

.computer:hover {
    cursor: pointer;
    stroke: yellow; /* Outline on hover */
}

.tooltip {
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px;
    font-size: 12px;
    display: none; /* Hidden by default */
    pointer-events: none;
    z-index: 10;
}


svg {
    max-width: 100%;
    height: auto;
    margin: 20px;
}

.info {
    text-align: center;
    margin: 10px;
}

.details {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
